

.Rproj.user
.Rhistory
.RData
.Ruserdata

_pages/teaching/how_to_poster_files/eggs/*
_pages/teaching/how_to_poster_files/how_to_poster_to_pdf.Rmd
_pages/teaching/pfpr_rasters_ind.tif
_pages/teaching/pts_with_pfpr.csv
